:root {
    --white: #f1f6f9;

    --darker-blue: #0F141E;
    --dark-blue: #212A3E;
    --medium-blue: #394867;
    --light-blue: #5E719A;
    --lighter-blue: #6C88C3;

    --dark-green: #1B3837;
    --medium-green: #2F5E5C;
    --light-green: #4F8C8A;
	
	--title-text: 2.5rem;
	--large-text: 1.5rem;
	--medium-text: 1rem;
	--small-text: 0.8rem;
}

html{
	
	line-height: 1.5;
    background: linear-gradient(135deg, #F4F2F3, #BFC6D0);
    font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: 400;
	
}

p{
    font-weight: 500;
}

.container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: minmax(5rem, 10rem);
    padding: 0px;
    margin: 0px;
}

.box{
	display: grid;
    place-items: center;
	padding: 15px;
	margin: 5px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.content{
	
	display: inline-block;
	text-align: center-left;
	
}

.table{
	
	display: table;
	margin: 0 auto;
	
}

.button-list{
	display: inline-block;
	width: 100%;
}

.button-list li{
	display: inline;
	margin: 10px;
}

.button{
	display: inline-block;
	background-color: var(--medium-blue);
	color: var(--white);
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: var(--medium-text);
	border-style: outset;
	border-color: var(--dark-blue);
	cursor: pointer;
}

.button:hover{
	
	text-decoration: underline;
	background-color: var(--light-blue);
	
}

.left{
	border-radius: 25px 50px 50px 0px;
	background: rgb(94,113,154);
	background: linear-gradient(125deg, rgba(94,113,154,1) 0%, rgba(57,72,103,1) 50%);
	border-left-style: solid;
	border-left-color: var(--light-blue);
	border-left-width: 1rem;
	color: var(--white);
}

.right{
	border-radius: 50px 25px 0px 50px;
	background: rgb(47,94,92);
	background: linear-gradient(125deg, rgba(47,94,92,1) 50%, rgba(27,56,55,1) 100%);
	border-right-style: solid;
	border-right-color: var(--dark-green);
	border-right-width: 1rem;
	color: var(--white);
}

.title{
	font-size: var(--title-text);
	text-decoration: underline;
}

.section{
	
	font-size: var(--large-text);
	
}

.message{
	
	font-size: var(--medium-text);
	text-align: left;
	
}

#header{
	display: grid;
    place-items: center;
	padding: 15px;
	margin: 5px;
    grid-column: 1 / -1;
    grid-row: span 1;
}

#programming {
    grid-column: 1 / 3;
    grid-row: span 2;
}

#education {
    grid-column: 2 / 4;
    grid-row: span 2;
    color: var(--white);
}

#frameworks {
    grid-column: 1 / 3;
    grid-row: span 2;
    color: var(--white);
}

#other-skills {
    grid-column: 2 / 4;
    grid-row: span 2;
}

#p-empires {
    grid-column: 1 / 3;
    grid-row: span 2;
	
    color: var(--white);
}

#p-bodbud {
    grid-column: 2 / 4;
    grid-row: span 2;
	
	color: var(--white);
}

#p-getitdone {
    grid-column: 1 / 3;
    grid-row: span 2;
    color: var(--white);
}

#footer {
	display: grid;
    place-items: center;
	padding: 15px;
	margin: 5px;
    grid-column: 1 / -1;
    grid-row: span 1;
    color: var(--white);
    background-color: var(--lighter-blue);
}